#body {background-color: rgb(56, 188, 250);}

#een {
        height: 300px;
        background-color: rgba(229, 255, 0, 0.055);}
#twee {
            height: 900px;
            background-color: aquamarine;}
            #drie {
                height: 900px;
                background-color: rgb(127, 255, 195);}
            #vier{
                    height: 200px;
                    background-color: rgb(255, 127, 127);}
                    